.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 410px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


* {
  box-sizing: border-box;
}

button {
  position: fixed;
  top: 20px;
  width: 84px;
  z-index: 1000;
  padding: 10px;
  color: black;
  font-weight: bold;
  background: gold;
  border: 2px solid black;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  outline: none;
  border-radius: 4px;
}
button:hover {
  background: #ffdf33;
}
button:active {
  color: gold;
  background: black;
}

.prev {
  left: 20px;
}

.next {
  left: 260px;
}

.boxes {
  position: relative;
  width: 100px;
  height: 150px;
  margin: 20px 0 0 135px;
  perspective: 400px;
}

.box {
  position: absolute;
  width: 100px;
  height: 150px;
  border: 2px solid black;
  transition: transform 0.6s ease-out, opacity 0.3s 0.1s;
  transform-origin: right;
}

.box-1 {
  z-index: 10;
  background: yellow;
}

.box-2 {
  z-index: 5;
  background: red;
}

.box-3 {
  z-index: 2;
  background: blue;
}

.box.is-out {
  opacity: 0;
  transform: rotateY(45deg) translateX(25px) translateZ(100px);
  transition: transform 0.6s ease-in, opacity 0.3s 0.2s;
}
