/* MARVEL BRAWL HEADER & SHADOW */
 header.hero {
   text-align: center;
   padding: 20px 0;
   margin: 0 0 20px;
 }

 header.hero h1 {
   font-size: 9em;
   color: #555;
   margin: 0 0 5px;
   position: relative;
   display: inline;
    color: rgba(0,0,0,0.8);
    font-family: Super4;
    top: 70px;
    left: -40px;

  }

 header.hero h2 {
   font-size: 9em;
   color: #555;
   margin: 0 0 5px;
   position: relative;
   display: inline;
   color: rgba(0,0,255,0.7);
   font-family: Super;
   top: 140px;
    left: -130px;

 }

 header.hero h2:after{
   content: "Brawl";
   position: absolute;
   left: 7px;
   top: 46px;
   color: rgba(0,0,0,0.8)
 }

 header.hero h1:after{
   content: "MARVEL";
   position: absolute;
   left: 7px;
   top: 46px;
  color: rgba(255,0,0,0.7);
 }

 hr {
   border: 0;
   border-top: 1px solid rgba(255, 255, 255, 0.6);
   padding: 0 0 20px;
 }
 /* END OF HEADER */

.pow{
  width: 1000px;
  position: absolute;
  height: 389px;
  top: 15px;
  left: 190px;
}
